[submodule ".vim/pack/bundle/start/vim-gutentags"]
	path = .vim/pack/bundle/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
[submodule ".vim/pack/bundle/start/vim-cheat40"]
	path = .vim/pack/bundle/start/vim-cheat40
	url = https://github.com/lifepillar/vim-cheat40
[submodule ".vim/pack/bundle/opt/onedark"]
	path = .vim/pack/bundle/opt/onedark
	url = https://github.com/joshdick/onedark.vim
[submodule ".vim/pack/bundle/start/surround"]
	path = .vim/pack/bundle/start/surround
	url = https://tpope.io/vim/surround.git
[submodule ".vim/pack/bundle/start/repeat"]
	path = .vim/pack/bundle/start/repeat
	url = https://tpope.io/vim/repeat.git
[submodule ".vim/pack/bundle/start/vim-css-color"]
	path = .vim/pack/bundle/start/vim-css-color
	url = git@github.com:ap/vim-css-color.git
[submodule ".vim/pack/bundle/start/vim-gitgutter"]
	path = .vim/pack/bundle/start/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/bundle/start/vim-abolish"]
	path = .vim/pack/bundle/start/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule ".vim/pack/bundle/start/vim-vue"]
	path = .vim/pack/plugins/start/vim-vue
	url = git://github.com/posva/vim-vue.git
[submodule ".vim/pack/plugins/start/syntastic"]
	path = .vim/pack/plugins/start/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule ".vim/pack/plugins/start/vim-toto-lists"]
	path = .vim/pack/plugins/start/vim-toto-lists
	url = git@github.com:aserebryakov/vim-todo-lists.git
